* {
  margin: 0;
  padding: 0;
}

.home-begin {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideOutUp {
  transform: translateY(-400px);
}

// .animated {
//   -webkit-animation-duration: 0.8s;
//   animation-duration: 0.8s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }

// @-webkit-keyframes slideOutUp {
//   from {
//     -webkit-transform: translateY(-400px);
//     transform: translateY(-400px);
//   }
//   to {
//     -webkit-transform: translateY(-400px);
//     transform: translateY(-400px);
//   }
// }

// @keyframes slideOutUp {
//   from {
//     -webkit-transform: translateY(-400px);
//     transform: translateY(-400px);
//   }
//   to {
//     -webkit-transform: translateY(-400px);
//     transform: translateY(-400px);
//   }
// }

.result-page {
  margin-top: -680px;
}

.image-index {
  object-fit: cover;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content {
  margin-top: auto;
}

.search-result {
  border: 1px solid black;
  padding: 5px;
  margin-top: 15px;
  border-radius: 3px;
}

.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  * {
    width: 100%;
    max-width: 600px;
  }
}

.search-block {
  display: flex;
}

.navbar-brand {
  display: flex;
  justify-content: center;
}

.navbar-item {
  cursor: pointer;
}


.button.is-fullwidth {
  margin-top: 20px;
}

#h1 {
  margin-bottom: 30px;
}

// ART CARD
.image img {
  display: block;
  max-height: 800px;
  width: auto;
}

.is-horizontal-center {
  display: flex;
  justify-content: flex-end;
}

.color-box {
  height: 20px;
  width: 20px;
}

.color-palette {
  display: flex;
}

// Loading screen

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.cards-hidden {
  visibility: hidden;
}

.footer-text {
  padding: 20px;
}

.header-text {
  padding: 12px;
}
